#container {
  text-align: center;
  padding-bottom: 40px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-img {
  max-width: 100%;
  height: auto;
}